body {
    background-image: url(Filmes/Fundo.jpg);
    background-color: rgb(0, 0, 0);
    font-family: "Sankofa Display", sans-serif;
}

table {
    margin: auto;
    background-color: black;
}

table,
th,
td {
    border: 2px solid rgb(255, 0, 0);
}

.sem_borda {
    border: 10px solid rgb(255, 123, 0);

}

th,
td {
    color: rgb(9, 255, 0);
}

th,
td {
    background-color: black;
}

h3 {
    background-color: rgb(255, 255, 255);
}
h1 {
    background-color: aliceblue;
    text-align: center;
}

.formulario {
    text-align: center;
    font-weight: 900px;
    color: aqua;
    background-color: black;
    font-size: 30px;
}
/* é o a o que muda do link */
a:visited {
    background-color: black;
    color: whitesmoke;}

/* div pode ser selecionada por todas as divs para ter o mesmo estilo */
.selecao {
    font-size: xx-large;
    color: rgb(255, 0, 0);
    display: inline-block;
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 100px;
    padding: 20px;
    border: 7px solid rgb(255, 0, 0);
}
.ordenar {
    background-color: black;
    margin: 0px auto;
    width: 500px;
}
/* criar outra div para fazer o fundo */