body {background-color: rgb(0, 0, 0);
font-family: "Sankofa Display", sans-serif;
}

table {
    margin: auto;
}

table, th, td {
    border: 2px solid rgb(255, 0, 0);
}   

.sem_borda {
    border-color: rgb(0, 0, 0);
}

th, td {color: rgb(9, 255, 0);}

th, td {background-color: black;}
