body {
    background-color: rgb(0, 0, 0);
    font-family: "Sankofa Display", sans-serif;
    margin: 0%;
    overflow-x: hidden;
}



/* https://gruposeper.com/  usar esse site de exemplo para o projeto*/

table {
    margin: auto;
    background-color: rgb(155, 155, 155);
}


table,
th,
td {
    border: 2px solid rgb(19, 24, 41);
    padding: 3px;
}


.sem_borda {
    border: 10px solid rgb(236, 91, 33);

}

th,
td {
    color: rgb(9, 255, 0);
}

th,
td {
    background-color: rgb(49, 49, 49);
}

h3 {
    background-color: rgb(255, 255, 255);
}

h1 {
    background-color: aliceblue;
    text-align: center;
}


.formulario {
    text-align: center;
    font-weight: 900px;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 30px;
}

/* é o a o que muda do link */

/* div pode ser selecionada por todas as divs para ter o mesmo estilo */


.visited-filmes a,
/* a (,) serve como and*/
.visited-filmes a:visited,
.visited-filmes a:active

/*cor no momento que clica*/
    {
    color: rgb(236, 91, 33);
    text-decoration: none;
    /* opcional: remove o sublinhado */
}

.visited-filmes a:hover {}

.filmes {
    box-sizing: border-box;
    border: double 20px #070708;
    display: flex;
    background-color: rgb(19, 24, 41);

    width: 100%
        /* o width padroniza de acordo com os px */

}

.filmesborda1 {
    box-sizing: border-box;
    border: ridge 20px rgb(236, 91, 33);
    border-bottom: none;
    display: flex;
    background-color: rgb(19, 24, 41);

    width: 100%
        /* o width padroniza de acordo com os px */

}

.filmesborda2 {
    box-sizing: border-box;
    border: ridge 20px rgb(236, 91, 33);
    display: flex;
    background-color: rgb(19, 24, 41);
    border-bottom: none;
    border-top: none;

    width: 100%
        /* o width padroniza de acordo com os px */

}

.filmesborda3 {
    box-sizing: border-box;
    border: ridge 20px rgb(236, 91, 33);
    border-top: none;
    display: flex;
    background-color: rgb(19, 24, 41);

    width: 100%
        /* o width padroniza de acordo com os px */

}

.filmes img {
    width: 100%;
    height: 100%;

}

.container {
    box-sizing: border-box;
    width: 100%;
    /* largura fixa como se fosse tela cheia */
    position: relative;
}

#busca {
    color: rgb(236, 91, 33);
    width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    border: 6px solid rgb(236, 91, 33);
    border-radius: 25px;
    background-color: rgb(13, 17, 29);

}

#busca::placeholder

/*cor das letras dentro da busca*/
    {
    color: rgb(236, 91, 33)
}

#busca:focus

/*tira o foco de quando clicamos no campo de pesquisa*/
    {
    outline: none;
    box-shadow: none;
    /* remove o brilho branco */
}

#login {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    border: 10px solid rgb(236, 91, 33);
    border-radius: 10px;
    padding: 20px;
}

#login a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
/*cima, direita, baixo, esquerda*/
    margin: 10px 0px 0px 0px;
}

#login a:hover {
    padding: 0px 10px;
    border: 0px ;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;

}


.busca2 {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: flex;
    align-items: center;
    color: rgb(236, 91, 33);
    background-color: rgb(19, 24, 41);
    padding: 10px;
    /* espaço do texto dentro do bloco */
    box-sizing: border-box;
    /* width: 100% + border de 15px está somando mais de 100% da largura total da tela | box-sizing corrige tamanho da div*/
    width: 100%;
    text-align: left;
    border-top: solid 20px black;
    border-bottom: solid 50px black;

}

.lupa img {
    margin: 2px;
    margin-left: 15px;
    width: 25px;
    height: 25px;
}

.fundopop {
    background-color: black;
}

/*corrigir fundo que ficou com radius*/

.pop {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: inline-block;
    color: rgb(236, 91, 33);
    background-color: rgb(0, 0, 0);
    padding: 12px;
    /* espaço do texto dentro do bloco */
    width: 100%;
    height: 100%;
    text-align: center;
    border: dotted 10px rgb(240, 163, 20);
    border-radius: 22px;
    box-sizing: border-box;
}

#linha-preta {
    height: 30px;
    background-color: black;
    width: 100%;
    margin: 0%;
}

.selecao {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: inline-block;
    color: rgb(236, 91, 33);
    background-color: rgb(19, 24, 41);
    padding: 10px;
    /* espaço do texto dentro do bloco */
    border: 7px groove rgb(236, 91, 33);
    border-radius: 15px;
    /*deixa a borda redondinha */
    margin: 5px;
}

#selecao-acao {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: inline-block;
    color: rgb(236, 91, 33);
    background-color: rgb(19, 24, 41);
    padding: 10px;
    /* espaço do texto dentro do bloco */
    border: 7px groove rgb(236, 91, 33);
    border-radius: 15px;
    /*deixa a borda redondinha */
    margin: 5px;
}

#selecao-acao:hover {
    color: #d13331;
    background-color: #331010;
    border: 7px groove  #d13331;

}

#selecao-acao:hover a {
    color:  #d13331;
}

/*cor no momento que clica*/


#selecao-aventura {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: inline-block;
    color: rgb(236, 91, 33);
    background-color: rgb(19, 24, 41);
    padding: 10px;
    /* espaço do texto dentro do bloco */
    border: 7px groove rgb(236, 91, 33);
    border-radius: 15px;
    /*deixa a borda redondinha */
    margin: 5px;
}

#selecao-aventura:hover {
    color: #43A047;
    background-color: #C8E6C9;
    border: 7px groove #43A047;

}

#selecao-aventura:hover a {
    color: #43A047;
}

/* trocando de cor mesmo acessado */

/********************************/

#selecao-comedia {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: inline-block;
    color: rgb(236, 91, 33);
    background-color: rgb(19, 24, 41);
    padding: 10px;
    /* espaço do texto dentro do bloco */
    border: 7px groove rgb(236, 91, 33);
    border-radius: 15px;
    /*deixa a borda redondinha */
    margin: 5px;
}

#selecao-comedia:hover {
    color: #FDD835;
    background-color: #FFF9C4;
    border: 7px groove #FDD835;

}

#selecao-comedia:hover a {
    color:#FDD835;
}

/* trocando de cor mesmo acessado */

/********************************/

#selecao-drama {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: inline-block;
    color: rgb(236, 91, 33);
    background-color: rgb(19, 24, 41);
    padding: 10px;
    /* espaço do texto dentro do bloco */
    border: 7px groove rgb(236, 91, 33);
    border-radius: 15px;
    /*deixa a borda redondinha */
    margin: 5px;
}

#selecao-drama:hover {
    color: #494949;
    background-color:#ffffff;
    border: 7px groove  #494949;

}

#selecao-drama:hover a {
    color:  #494949;
}

/* trocando de cor mesmo acessado */

/********************************/

#selecao-ficcao {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: inline-block;
    color: rgb(236, 91, 33);
    background-color: rgb(19, 24, 41);
    padding: 10px;
    /* espaço do texto dentro do bloco */
    border: 7px groove rgb(236, 91, 33);
    border-radius: 15px;
    /*deixa a borda redondinha */
    margin: 5px;
}

#selecao-ficcao:hover {
    color:#8E24AA;
    background-color: #E1BEE7;
    border: 7px groove #8E24AA;
}

#selecao-ficcao:hover a {
    color: #8E24AA;
}

/* trocando de cor mesmo acessado */

/********************************/

#selecao-terror {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: inline-block;
    color: rgb(236, 91, 33);
    background-color: rgb(19, 24, 41);
    padding: 10px;
    /* espaço do texto dentro do bloco */
    border: 7px groove rgb(236, 91, 33);
    border-radius: 15px;
    /*deixa a borda redondinha */
    margin: 5px;
}

#selecao-terror:hover {
    color: #cf0000;
    background-color: #424242;
    border: 7px groove #cf0000;
}

#selecao-terror:hover a {
    color: #cf0000;
}

/* trocando de cor mesmo acessado */

/********************************/

#selecao-romance {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: inline-block;
    color: rgb(236, 91, 33);
    background-color: rgb(19, 24, 41);
    padding: 10px;
    /* espaço do texto dentro do bloco */
    border: 7px groove rgb(236, 91, 33);
    border-radius: 15px;
    /*deixa a borda redondinha */
    margin: 5px;
}

#selecao-romance:hover {
    color:#D81B60;
    background-color: #F8BBD0;
    border: 7px groove #D81B60;
}

#selecao-romance:hover a {
    color: #D81B60;
}

/* trocando de cor mesmo acessado */

/********************************/

#selecao-animacao {
    font-size: 3vh;
    /* ultilizando o *VH* para padronizar formatar de acordo com o tamanho da tela*/
    display: inline-block;
    color: rgb(236, 91, 33);
    background-color: rgb(19, 24, 41);
    padding: 10px;
    /* espaço do texto dentro do bloco */
    border: 7px groove rgb(236, 91, 33);
    border-radius: 15px;
    /*deixa a borda redondinha */
    margin: 5px;
}

#selecao-animacao:hover {
    color: #FB8C00;
    background-color: #FFE0B2;
    border: 7px groove #FB8C00;
}

#selecao-animacao:hover a {
    color: #FB8C00;
}

/* trocando de cor mesmo acessado */

/********************************/

.ordenar {
    display: grid;

    box-sizing: border-box;
    /* width: 100% + border de 15px está somando mais de 100% da largura total da tela | box-sizing corrige tamanho da div*/
    background-color: rgb(19, 24, 41);

    /* VH serve como 12% da altura da tela */
    text-align: left;
    border: 15px groove rgb(236, 91, 33);
    /*groove deixa a borda estilizada (obs. nunca deixar de definir a borda) */
    justify-content: center;
}

/* criar outra div para fazer o fundo */

.ordenar img {
    width: 35%;
}

.ordenar a {
    text-align: center;
    display: inline-block;
    height: 100%;
}

.btn {
    display: flex;
    justify-content: flex-start;
    margin: 20px;

}

#cinema {
    font-size: 18;
    color: aqua;
    text-align: center;
}

#cinema a {
    text-decoration: none;
    color: rgb(248, 248, 248);
}

#gridteste {
    background-color: aqua;
}